*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
div{
    width: 100px;
    height: 100px;
    background-color: black;
    
    position: relative;

    left: 700px;
    top: 350px;
}